$hover_color: #eeeeee; // Grey 200
$disabled_text_color: #bdbdbd; // Grey 400
$divider_color: #e0e0e0;

// button
$button_color: #2196f3; // Blue 500
$button_pressed_color: #1e88e5; // Blue 600

// link
$normal_link_color: #2196f3; // Blue 500

// header
$header_color: #607d8b; // Blue Grey 500
$header_text_color: white;
$header_menu_text_color: white;

// dice
$dice_background_color: #f5f5f5; // Grey 100
$dice_one_color: #ef5350; // Red 300

// error
$error_background: #ffebee;
$error_text: #b71c1c;
