#result {
  display: none;
  
  #cipher_canvas {
    display: block;
    margin: 0.5rem;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.3);
  }
}

.button_container > * {
  display: inline-block;
}

#copy_message {
  opacity: 0;
}

.copy_message_show {
  animation: copy_message_show_animation 1s;
}

@keyframes copy_message_show_animation {
  0% {opacity: 0}
  20% {opacity: 1}
  80% {opacity: 1}
  100% {opacity: 0}
}